body{
    background: url("https://t3.ftcdn.net/jpg/05/76/00/62/240_F_576006279_MqkgX6AuOllcZuB4SmyB8Cz2ne4j2i8Q.jpg");
    background-size:contain;
    background-position:top;
    background: cover;
}