@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,100&display=swap');

.add-user{
    font-family: 'Barlow Condensed', sans-serif;
}
.add-user-btn{
    background-color: #D11534;
    color:#fff;
    font-size: 1.2rem;
}
